<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
          *{
        box-sizing: border-box;
        margin: 0;
        
     }
   .container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 20px;
   
   }
   .item{
    border: 2px solid black;
    padding: 10px;
    background-color: white;
   }
   .view{
    color: white;
    background-color: black;
    padding: 5px;
    border: none;
    font-size: 20px;
   }
   .view:hover{
    background-color:#A0522D ;
    color: white;
   }

   h3{
    background-color: white;
   }
  
   h1{
    text-align: center;
   }


   .header {
padding: 20px 10px;
background-image: url("/Images/istockphoto-1307964333-612x612.jpg");
height: 200px;
}
.header a {
float: left;
background-color: #A0522D;
color: rgb(255, 255, 255);
text-align: center;
padding: 10px;
text-decoration: none;
font-size: 15px; 
border-radius: 10px;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
margin: auto;
}
.header a:hover {
color: white;
background-color: black;
}
.links {
    float: right;
gap: 10px;
display: flex;
}
form.example input{
padding: 10px;
font-size: 17px;
border: 1px solid grey;
float: left;
width: 80%;
background: #f1f1f1;
}
form.example button {
float: left;
width: 20%;
padding: 10px;
color: #A0522D;
font-size: 17px;
border: 1px solid grey;
border-left: none;
cursor: pointer;
}
form.example::after {
content: "";
clear: both;
display: table;
}


.submit2{
    float: left;
    background-color: #A0522D;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px; 
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    border: none;
    cursor: pointer;
}

.submit2:hover{
    background-color: black;
    color: white;
}

a{
text-decoration: none;
}
    </style>
</head>
<body>
    <div class="header">
        
        <div class="links">
            <a href="/">Home</a>
            <form action="/wishlist" method="post">
                <button type="submit" value="Wishlist" class="submit2">Wishlist</button>
            </form>
            <form action="/cart" method="post">
                <button type="submit" value="cart" class="submit2">Shopping List</button>
            </form>
            <form class="example" action="/search" method="post">  
                <input type="text" placeholder="Search for Recipes" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div> 
</div>
    <h1> CART RECIPES</h1>
<div class="container">
    <%  cart_recipes.forEach(recipe => {     %>
        <div class="item">
        <h3><%= recipe.title %></h3>
        <form action="/view_Recipe" method="post">
            <button type="submit" name="viewid" value="<%=recipe.id%>" class="view">View Recipe</button>
        </form>
    </div>
      <% }); %>
    </div>
</body>
</html>